.result{
    width: 300px;
    height: 400px;
    background-color: lightgray;
    margin-left: 120px;
    margin-top: 60px;
    margin-bottom: 60px;
    border-radius:5px;
}
.result-details{
    display: flex;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}
.way{
    height: 100px;
    padding: 10px;
    border-radius:5px;
    color: white;
    background-color: rgb(255, 145, 71);
}
.image{
    height: 50px;
    width: 50px;
    margin-right: 20px;
}
.logo{
    margin-top: 10px;
    height: 20px;
    width: 20px;
}
.passenger{
    margin-right: 20px;
}