
.home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
}

@media (max-width: 640px){
    .home{
        display: block;
        height: 1500px;
        background-color: #79d8f3;
    }
}